.createpin{
    /* background-color: #5F5F5F; */
    padding-bottom: 5rem;
    padding-top: 3rem;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", Helvetica, "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", メイリオ, Meiryo, "ＭＳ Ｐゴシック", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";

}
.createpin_form{
    width: 68%;
    height: 50rem;
    margin: auto;
    background-color: white;
    /* margin-top:3rem ; */
    border-radius: 1rem;
    /* padding: auto; */
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.2); 
    padding-bottom: 3rem;

}

.form{
    width: 100%;
    height: 90%;
    /* background-color: blue; */
    padding-left: 3rem;
    align-items: center;
    text-align: center;
    /* padding-top: 1rem; */
    display: flex;
  
}
input[type="file"] {
    display: none;
  }
  .preview-image{
      width: 100%;
      height: 100%;
      background-size: contain;
      background-position: center;
      background-repeat: no-repeat;
      
  }
.imageinput{
    display: inline-block;
    text-decoration:none;
    background: none;
    outline: none;
    padding: 8px 16px;
    width: 30%;
    height: 70%;
    background-color: #E9E9E9;
    display: flex;
    left:0;
    /* padding-top: 1rem; */
    border-radius: .5rem;
    margin-bottom: 1rem;
}
.uploadimage{
    margin: auto;
    font-size: small;
    color: black;
    /* display: block; */

}
.uploadimageicon{
    font-size: x-large;
    color: #5F5F5F;
    padding-bottom: 1rem;
}
p{
    display: block;
    margin: auto;
}
.imagestyle{
    width: 90%;
    height: 90%;
    border: 2px #DADADA dashed;
    padding: 1rem 1rem 1rem 1rem;
    padding-top:1rem ;
    display: flex;

}
.createpinnbtn{
    background-color: #E9E9E9;
    padding: 1rem;
    width: 23%;
    border-radius: 2rem;
    display: block;
    border: none;
}
.createpinnbtn:hover{
    background-color: darkgray;
}
.btn{
     position: absolute;
     bottom: -5rem;
    width: 55%;
    height: 8%; 
    display: flex;
    /* background-color: green; */
    justify-content: space-between;

}
.pin_inputs{
/* background-color: #5F5F5F; */
width: 55%;
height: 60%;
display: block;
right: 0;
}
.title{
    padding: 1.3rem;
    width: 80%;
    font-size: xx-large;
    font-weight: bold;
    border: none;
    border-bottom : 2px solid #C6C6C6  ;
    margin-bottom: 2rem;
}

.description{
    margin-top: 2rem;
    padding: 1.3rem;
    width: 80%;
    /* color: #C6C6C6 ; */
    border: none;
    border-bottom : 2px solid #C6C6C6  ;
}
.userinfo{
    /* background-color: #5F5F5F; */
    display: flex;
    justify-content: flex-end;
    padding: 1rem;
}
.userpin{
    /* height:3rem;
    width: 3rem;  */
    border-radius: 50%;
    border:none;
    background-color: #E9E9E9;
    margin-left: 1rem;
    font-size: large;
    font-weight: bold;
    padding: 2rem;

}
.userpin:hover{
    background-color: darkgray;
}
.username{
    margin-left: 0;
    font-size: medium;
}
.selectBoard{
    padding: 1rem;
    background-color: #E9E9E9;
    border-radius: 2rem;
    border: none;
    /* position: absolute; */
 
}
.selectBoard:hover{
    background-color: darkgray;
}