.profile{
    background-color: bisque;
    top: 3.8rem;
    right: .3rem;
  top:0;
}
.dropdown{
    position: absolute;
    top:2%;
    right: 1.5%;
    border: none;
    padding: 1rem;
    border-radius: 30px;
    margin-right:0px ;
    z-index: 10;
    /* background-color: aquamarine; */
    
}
.profile-dropdown{
    z-index: 10;
    background-color:white;
    padding: 1rem;
    width: 20%;
    height: 60vh;
    position: absolute;
    top: 3.8rem;
    right: .3rem;
    border-radius: 1rem;
    border: 5px bold black;
    box-shadow: 2px 2px 2px 2px rgba(0.2, 0.2, 0.2, 0.2); 
    font-weight: var(--font-weight-semibold);
    font-family: var(--font-family-default-latin);
    font-size: var(--font-size-300);
}
.settings{
    display: block;
    text-decoration: none;
    color: black;
    /* background-color: aqua; */
    padding: 1rem;
    border-radius: 15px;
}
.settings:hover{
    background-color: #E9E9E9;
}
.logout{
    width: 100%;
    border: none;
    padding: 1rem;
    border-radius: 15px;
    background-color: white ;
    text-align: left;
}
.logout:hover{
    background-color: #E9E9E9;

}
.username{
    display: block;
    color: black;
    /* background-color: aqua; */
    padding: 1rem;
    border-radius: 15px;

}
.username:hover{
    background-color: #E9E9E9;

}

li{
    list-style: none;
}